.writingCard {
    padding: 5px 10px;
    margin-bottom: 40px;
    margin-right: 80px;
    border-top: 10px solid darkgreen;
    transition: transform 100ms ease-out;
}

.writingCard:hover {
    transform: scale(1.09);
}

.writingCard__content {
    width: 550px;
    /* height: 230px; */
    padding-bottom: 0px !important;
}

.writingCard__header {
    padding-bottom: 10px;
}

.writingCard__header > h2 {
    font-size: 15px;
    font-weight: 300;
}

.writingCard__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    /* width: 500px;     */
}

.writingCard__info > h2 {
    font-size: 15px;
    font-weight: 300;
}

.writingCard__info > img {
    object-fit: contain;
    height: 40px;
}

.writingCard__category > h2 {
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
}


.writingCard__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

.writingCard__footer > h2 {
    font-size: 15px;
    font-weight: 300;
}

.writingCard__status {
    display: flex;
    align-items: center;
}

.writingCard__status > .MuiSvgIcon-root {
    font-size: 16px;
    margin-right: 5px;
}

.writingCard__status > h2 {
    font-size: 15px;
    font-weight: 300;
}

.writingCard__attempts {
    display: flex;
    align-items: center;
}

.writingCard__attempts > h2 {
    font-size: 15px;
    font-weight: 300;
}

.writingCard__attempts > .MuiSvgIcon-root {
    font-size: 18px;
    margin-right: 5px;
}

